<%- include ('partials/header.ejs') %>
  <div class="mt-3 pt-3" style="height : 100%;font-weight: 700;">
    <div class="col-12 mx-auto mt-5 justify-content-center">
      <div class="px-auto d-flex">
        <% if (user.thumbnail) { %>
          <img class="rounded-circle mx-auto" src="<%= user.thumbnail%>" alt="profile-pic"
        <% } else { %>
            <img class="rounded-circle mx-auto"
              src="https://www.pngitem.com/pimgs/m/294-2947257_interface-icons-user-avatar-profile-user-avatar-png.png"
              alt="profile-pic2" 
        <% } %>
      </div>
    </div>
    <div class="mx-auto text-center">
      <div>
        <p class="text-black mt-2"> <b>
            <strong style="font-weight: 900;font-family: Lora;font-size:1.7rem;">
              <% if (user.fullname) { %>
                <%=user.fullname%>
              <%} else { %>
                <%=user.googleName%>
              <% } %>
            </strong>
          </b> </p>
        <hr>
        <p style=" margin-top: -5px;font-size: 1.4rem;" class="text-black abtext">CA - <%=user.campambid%>
        </p>
        <p style="margin-top: -15px;font-size: 1.4rem;" class="text-black abtext">Username - <%=user.username%>
        </p>
        <p style=" margin-top: -15px;font-size: 1.4rem;" class="text-black abtext">College Name - <%=user.collegename%>
        </p>
        <p style="margin-top: -15px;font-size: 1.4rem;" class="text-black abtext">Phone Number - <%=user.phno%>
        </p>

        <p style="margin-top: -15px;font-size: 1.4rem;" class="text-black abtext">Points - <%=user.points%>
        </p>
        <a href="/profile"><button class="btn btn-danger"><i style="color: white;" class="fas fa-edit mr-3"></i><span
              style="text-decoration: none;color: white;font-family: 'Roboto';font-weight: 900;">Edit
              Details</span></button></a>
      </div>
    </div>
  </div>
  </div>
  <%- include ('partials/footer.ejs') %>